*{

box-sizing: border-box;

}


.footer{
display:flex;
justify-content:space-between;
height:100px

}


.outPutContent{
background-color: green;
color: black;
display: flex;
justify-content: center;
align-items: center;
height:250px;
margin:50px;
}


.user-content{
margin: 40px;
display: flex;
justify-content: space-around;



}

.user-content button{

    width: 150px;
    height: 50px;



}